
/* Style général */
body {
  background: #3a3a3a;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

/* Titre */
h1 {
  color: #1faa00;
  margin-bottom: 30px;
}


.galerie {
  display: grid;
  grid-template-columns: repeat(7, 110px);
  gap: 12px;
  justify-content: center;
}


.galerie img {
  width: 110px;
  height: 110px;
  object-fit: cover;

 
  filter: sepia(100%) brightness(90%);
  

  border: 3px solid #d8c7a1;


  transition: transform 0.3s ease, filter 0.3s ease;

  position: relative;
  z-index: 1;
}


.galerie img:hover {
  filter: none; 
  transform: scale(1.6); 
  z-index: 10;
  box-shadow: 0 10px 25px rgba(0,0,0,0.7);
}