body{
  margin: 0;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}
a{ 
  margin-left: 20px;
  margin-right: 20px;
}

/* .header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #1e40af;
  margin-left: 40px;
}

.box h3{
 color: #1e40af;
}


/* NAV */
.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav{
  margin-right: 40px;
}

.nav a:hover {
  color: #1e73e8;
}

/* HERO (AMÉLIORÉ) */
.hero {
  background: #1dc4ee;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.text{
  padding: 20px;
}

.hero h1 {
  font-size: 42px;
}



/* IMAGE HERO */
.hero img {
  max-width: 50%;
  border-radius: 12px;
}

/* BUTTON */
.btn {
  display: inline-block;
  background: #1e73e8;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
}

.btn:hover {
  background: #155ac4;
  transform: translateY(-2px);
}


/* TITRE */
main h2 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 50px;
}

/* CARDS */
.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

.box {
  width: 25%;
  background: #fff;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(7, 185, 170, 0.945);
}

.box img {
  border-radius: 12px 12px 0 0;
}

.texte-box{
  padding: 20px;
}

#temoignage{
  background: #ffffff;
   text-align: center;
   padding: 20px;

}

#formation{
   background: #f3f4f5;
   padding: 20px;
}
#formation img{
  width: 100%;

}

#inscription{
    text-align: center;
    background: #f3f4f5;
    padding: 20px;
    text-align: center;
    
}

/* FOOTER */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 25px;
}



@media (max-width: 750px){

  .hero{
    background: none;
    flex-direction: column;
    text-align: center;    
    padding: 0;
    

  }

  .nav{
    display:grid;
  }

  .text{
    background: #1dc4ee;
  }

  .hero img {    
    margin: 20px;
    max-width: 90%;
    border-radius: 12px;
  }

  .flexbox{
    flex-direction: column;
  }

  .box{
    width: 100%;
    max-width: 75%;
    margin: 20px;
  }
  


}
